<template lang='pug'>
  footer.footer(v-if='show')
    span.todo-count
      strong {{ todosLeft }}
      | {{ vocabWord }} left
    ul.filters
      li
        a(
          href="#/"
         :class='{ selected: nowShowing === "all" }') All
      |
      li
        a(
          href="#/active"
          :class='{ selected: nowShowing === "active" }') Active
      |
      li
        a(
          href="#/completed"
          :class='{ selected: nowShowing === "completed" }') Completed
    button.clear-completed(
      @click='clearCompleted'
      v-show='completedCount > 0'
    ) Clear Completed
</template>

<script>
  import { mapState, mapGetters, mapMutations } from 'vuex';

  export default {
    name: 'Footer',
    computed: {
      ...mapState([
        'nowShowing',
      ]),
      ...mapGetters([
        'count',
        'completedCount',
        'show',
      ]),
      todosLeft: function() {
        return this.count - this.completedCount;
      },
      vocabWord: function() {
        return this.todosLeft !== 1 ? 'items' : 'item';
      }
    },
    methods: mapMutations([
      'clearCompleted',
    ]),
  }
</script>

<style scoped>
  .footer {
    color: #777;
    padding: 10px 15px;
    height: 20px;
    text-align: center;
    border-top: 1px solid #e6e6e6;
  }

  .footer:before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 50px;
    overflow: hidden;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2),
                0 8px 0 -3px #f6f6f6,
                0 9px 1px -3px rgba(0, 0, 0, 0.2),
                0 16px 0 -6px #f6f6f6,
                0 17px 2px -6px rgba(0, 0, 0, 0.2);
  }

  .todo-count {
    float: left;
    text-align: left;
  }

  .todo-count strong {
    font-weight: 300;
  }

  .filters {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    right: 0;
    left: 0;
  }

  .filters li {
    display: inline;
  }

  .filters li a {
    color: inherit;
    margin: 3px;
    padding: 3px 7px;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 3px;
  }

  .filters li a:hover {
    border-color: rgba(175, 47, 47, 0.1);
  }

  .filters li a.selected {
    border-color: rgba(175, 47, 47, 0.2);
  }

  .clear-completed,
  html .clear-completed:active {
    float: right;
    position: relative;
    line-height: 20px;
    text-decoration: none;
    cursor: pointer;
  }

  .clear-completed:hover {
    text-decoration: underline;
  }
</style>
