<template lang='pug'>
  header.header
    h1 todos
    input.new-todo(
      autofocus=true
      placeholder='What needs to be done'
      type='header'
      v-model.trim='title',
      @keydown.13.prevent='handleEnter')
</template>

<script>
  import { mapMutations } from 'vuex';

  export default {
    name: 'Header',
    data: () => ({ title: '' }),
    methods: {
      ...mapMutations([
        'submitTodo'
      ]),
      handleEnter: function() {
        const title = this.title;
        if (title) {
          this.submitTodo(title);
          this.title = '';
        }
      }
    }
  }
</script>

<style scoped>
  .new-todo,
  .edit {
    position: relative;
    margin: 0;
    width: 100%;
    font-size: 24px;
    font-family: inherit;
    font-weight: inherit;
    line-height: 1.4em;
    border: 0;
    color: inherit;
    padding: 6px;
    border: 1px solid #999;
    box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .new-todo {
    padding: 16px 16px 16px 60px;
    border: none;
    background: rgba(0, 0, 0, 0.003);
    box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
  }
</style>
